@import '../globals.css';
.auth-container{
    height: 100vh;
}
.auth-container h2{
    color: var(--primary-green) !important;
    font-weight: 800;
}
.auth-container span{
    color: var(--text) !important;
}
.auth-container .form-div{
    border: 1px solid var(--text) !important;
    border-radius: 8px;
}
.auth-container div p{
    color: var(--text);
}
.auth-container div a{
    color: var(--primary-green);
}

.auth-container input{
    padding: 8px 18px;
    border: 1px solid var(--text) !important;
    border-radius: 8px;
}
label{
    color: var(--text) !important;
}

.continue-btn{
    background-color: var(--primary-green) !important;
    border: 1px solid var(--primary-green) !important;
}

