#carousel .ci{
    width: 25vw !important;
    height: 30vh !important;
    object-fit: contain !important;
    
}
#carousel h2{
    font-size: 2.5rem !important;
    font-weight: 700;
    color: var(--text);
}

#carousel span{
    color: var(--primary-green);
}