@import '../../app/globals.css';

#productCategory h2{
    font-size: 2.5rem !important;
    font-weight: 700;
    color: var(--text);
}

#productCategory span{
    color: var(--primary-green);
}
#productCategory .category{
    width: 100%;
    object-fit: contain;
    height: 20vh;
}

#productCategory .card{
    min-height: 30vh !important;
    cursor: pointer;
}

