@import '../../../../globals.css';

#productPage .header .secondary{
    color: var(--text) !important;
}
#productPage .header {
    color: var(--primary-green);
    font-weight: 700;
    text-transform: capitalize;   
}

#productPage .primary-btn{
    background-color: var(--primary-green) !important;
    border: 1px solid var(--primary-green);
}


#productPage .secondary-btn{
    background-color: white !important;
    border: 1px solid var(--primary-green) !important;
    color: var(--text);
}