@import '../../globals.css';

#productCategory .header {
    color: var(--primary-green);
    font-weight: 700;
    text-transform: capitalize;
}

#productCategory .header-6:hover{
    color: var(--primary-green) !important;
}
#productCategory .header .secondary,.header-6 {
    color: var(--text) !important;
}
#productCategory img{
    height: 20vh;
    width: auto;
    /* object-fit: cover; */
}
#productCategory a{
    color: var(--text);
}
#productCategory a:hover{
    color: rgb(34, 30, 30);
}

