@import '../../globals.css';

#productCategory h1 {
    color: var(--primary-green);
    font-weight: 700;
}

#productCategory h6:hover{
    color: var(--primary-green) !important;
}
#productCategory h1 span,h6 {
    color: var(--text) !important;
}
#productCategory img{
    height: 20vh;
    width: auto;
    /* object-fit: cover; */
}
#productCategory a{
    color: var(--text);
}
#productCategory a:hover{
    color: rgb(34, 30, 30);
}