@import '../../../app/globals.css';

.modal-title{
    color: var(--primary-green) !important;
}
.modal-button{
    background-color: var(--primary-green) !important;
    border: 1px solid var(--primary-green) !important;
}