:root {
    --primary-green: #22cc9d;
    --text: #4b2767;
}
.primary-text {
    color: var(--primary-green);
    font-size: 2.5rem !important;
    font-weight: 700;
}
.secondary-text{
    color: var(--text);
}

.primary-btn {
    background-color: var(--primary-green) !important;
    border: 1px solid var(--primary-green);
    color: white;
}

.secondary-btn {
    background-color: white !important;
    border: 1px solid var(--primary-green) !important;
    color: var(--text);
}
.primary-btn:hover{
    border: 1px solid var(--primary-green) !important;
    color: white;
}
.secondary-btn:hover{
    color: var(--text);
}

.rating{
    width: 15% !important;
}
.nav-pills .nav-link.active{
    background-color: var(--primary-green) !important;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.loader {
    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 1;
    animation: fade 0.4s ease-in forwards;
}

@keyframes oscillate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.loader .balls {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .balls .one {
    animation-delay: 0.5s;
}

.loader .balls .two {
    animation-delay: 1s;
}

.loader .balls .three {
    animation-delay: 2s;
}

.loader .ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary-green);
    margin: 0 6px 0 0;
    animation: oscillate 0.7s ease-in forwards infinite;
}

/****************CART*******************/
#cart img{
    width: 10vw;
    max-height: 20vh;
    object-fit: contain;
}